{% extends 'base.html' %}
{% load static %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block title %}
    {{ post.title | title }}
{% endblock %}

{% block content %}

    <section id="summary">
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static 'blog/images/'|add:post.image %}" alt="post image alt">
            <address>By {{ post.author }}</address>
            <div>
                last updated on
                <time>{{ post.date|date:'d M Y' }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content| linebreaks }}
    </main>


{% endblock %}